form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

h1 {
  color: #6202ee;
}

.divider {
  background-color: #6202ee;
  height: 2px;
}

.mat-button {
  color: white;
  margin-top: 25px;
  background-color: #3f51b5;
}
