<h1 class="mat-display-1">{{ formModel.title }}</h1>

<form [formGroup]="myForm" #standardForm="ngForm">
  <mat-form-field *ngFor="let input of textInputs" appearance="fill">
    <mat-label>{{ input.label ? input.label : input.fieldName }}</mat-label>
    <input matInput [formControlName]="input.fieldName" />
  </mat-form-field>

  <div class="divider"></div>

  <mat-form-field *ngFor="let input of numberInputs" appearance="fill">
    <mat-label>{{ input.label ? input.label : input.fieldName }}</mat-label>
    <input matInput [formControlName]="input.fieldName" type="number" />
  </mat-form-field>

  <div class="divider"></div>

  <mat-form-field *ngFor="let input of dropdownInputs">
    <mat-label>{{ input.label ? input.label : input.fieldName }}</mat-label>
    <mat-select
      matNativeControl
      [formControlName]="input.fieldName"
      [(ngModel)]="input.standardValue"
      [multiple]="input.multiple"
    >
      <mat-option
        *ngFor="let option of input.dropdownElements; let i = index"
        [value]="input.dropdownElements[i].name"
        (click)="openModal(input.dropdownElements[i])"
      >
        {{
          input.dropdownElements[i].label
            ? input.dropdownElements[i].label
            : input.dropdownElements[i].name
        }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="divider"></div>

  <div class="chip-list">
    <chip-list
      *ngFor="let chip of chipInputs"
      (selection)="this.selection($event)"
      (delete)="this.deleteCard($event)"
      [title]="chip.title"
      [cardList]="chip.cardList"
      [editionList]="chip.editionList"
      [multiSelection]="chip.multiSelection"
    >
    </chip-list>
  </div>

  <button mat-button type="submit" color="primary" (click)="onSubmit()">
    Salvar!
  </button>
</form>
