<div class="container">
  <div class="header">
    <h1>Tipos</h1>
    <button (click)="showForm()" ><span [ngClass]="exibiForm ? 'hide' : 'show'"></span> Tipos</button>
  </div>

  <div class="cards" *ngIf="!exibiForm && !exibiFormEdit">
    <app-list [cards]="resourcesTypes" (eventEmmiter)="eventEmmiter($event)"></app-list>
  </div>

  <div class="form" *ngIf="exibiForm">
    <app-standard-form [formModel]="form"></app-standard-form>
  </div>

  <div class="form" *ngIf="exibiFormEdit">
    <button class="styledButton" (click)="backList()">Voltar</button>
    <app-standard-form [formModel]="formEdit"></app-standard-form>

  </div>

  <div class="chiplist" *ngIf="exibiFormEdit">
    <chip-list [title]="'Recursos'" 
    [cardList]="resources" 
    [editionList]="true" 
    [multiSelection]="false"
    (selection)="showForm()" 
    (newCard)="showForm()"
    (delete)="showForm()"></chip-list>
  </div>

</div>
