<section>
  <app-sidenav></app-sidenav>
  <div class="example-button-row">
    <button routerLink="/grupo1" mat-raised-button>Grupo 1</button>
    <button routerLink="/grupo2" mat-raised-button color="primary">Grupo 2</button>
    <button routerLink="/grupo3" mat-raised-button color="accent">Grupo 3</button>
    <button routerLink="/grupo4" mat-raised-button color="warn">Grupo 4</button>
    <button routerLink="/grupo5" mat-raised-button color="accent">Grupo 5</button>
  </div>
  <router-outlet></router-outlet>
</section>