<!-- <div class="building-register">
    <mat-form-field appearance="fill">
      <mat-label>Campus</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Numero de salas</mat-label>
        <input matInput>
    </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nome do predio</mat-label>
        <input matInput>
    </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>identificador do prédio</mat-label>
        <input matInput>
    </mat-form-field>
    <button mat-button>SALVAR</button>
</div> -->
<app-standard-form [formModel]="buildingModel" (response)="onCreate()"></app-standard-form>
