<div class="container">

    <div class="header">
        <h1>Aulas</h1>
        <button (click)="showForm()"> Adicionar</button>
    </div>

    <div class="module-container">
        <chip-list [title]="'Selecione as disciplinas'" [cardList]="cards" [editionList]="editionMode"
            [multiSelection]="false" (selection)="cardsSelected($event)" (newCard)="newClassForm($event)"
            (delete)="deleteItem($event)">
        </chip-list>
    </div>

    <div *ngIf="disciplineSelected" class="module-container">
        <chip-list [title]="'Selecione as turmas'" [cardList]="classCards" [editionList]="editionMode"
            [multiSelection]="false" (selection)="classCardsSelected($event)" (newCard)="newClassForm($event)"
            (delete)="deleteItem($event)">
        </chip-list>
    </div>

    <div *ngIf="classSelected" class="card-container">
        <app-list [cards]="cardInterface" (eventEmmiter)="btnClick($event)">
        </app-list>
    </div>

    <div *ngIf="lessonFormOpen" class="modal">
        <div class="modal-content">
            <button style="float: right;" (click)="closeModal()">close</button>
            <app-standard-form [formModel]="lessonForm" (response)="saveFormData($event)"></app-standard-form>
        </div>
    </div>


</div>